.how-it-works .cards-container {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
}

.how-it-works .text-center {
  margin: 40px auto 0 auto;
  text-align: center;
  font-size: 40px;
}

.cards {
  width: 30%;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
}

.cards img {
  height: 75%;
  width: 80%;
  box-shadow: 3px 3px 15px #00FECA;
  border-radius: 2px;
}

.cards h3 {
  font-size: 25px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.cards p {
  font-size: 20px;
  margin-top: 3px;
}
